.navbar {
  background-color: #fff !important;
  border-bottom: 2px solid #eee !important;
  height: 70px;
  padding: 0 !important;
}

.nav-title-style {
  font-weight: 600 !important;
  color: #131313;
  text-decoration: none;
}

.nav-link-style {
  font-size: 12px !important;
  color: #131313;
  text-decoration: none;
}

.nav-link-style:hover {
  color: #131313ac;
  text-decoration: none;
}

.nav-input-style[type='search'] {
  font-size: 12px !important;
  outline-offset: 0px;
  padding: 2px 5px;
}

.nav-input-style::placeholder {
  font-size: 12px !important;
  color: #131313ac;
}

.sortby-nav {
  margin: auto 20px;
  font-size: 12px;
}

.sortby-btn {
  
  background: #218838;
  color: #fff;
  border-radius: 4px;
  border: none;
  font-size: 12px;
  padding: 6px 15px;
  margin-left: 10px;
  text-decoration: none;
}
