body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  width: 70%;
  display: block;
  margin: 20px auto;
}

a {
  color: #131313;
  text-decoration: none;
}

a:hover {
  color: #131313ef;
  text-decoration: none;
}

.navbar {
  padding: 0;
}
