@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
}

.app-container {
  width: 75%;
  display: block;
  margin: 20px auto;
}
